<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-mediacaptureplus" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">

    <name>MediaCapturePlus</name>

    <js-module name="MediaCapturePlus" src="www/MediaCapturePlus.js">
        <clobbers target="MediaCapturePlus" />
    </js-module>

    <platform name="android">
        <framework src="androidx.recyclerview:recyclerview:1.1.0" />
        <framework src="androidx.constraintlayout:constraintlayout:1.1.3" />
        <edit-config file="res/xml/config.xml" target="/widget" mode="merge">
            <widget xmlns:android="http://schemas.android.com/apk/res/android" />
        </edit-config>
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="MediaCapturePlus">
                <param name="android-package" value="cordova.plugin.mediacaptureplus.MediaCapturePlus" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-feature android:name="android.hardware.camera" />
            <uses-feature android:name="android.hardware.camera.autofocus" />
        </config-file>
        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <activity android:name="cordova.plugin.mediacaptureplus.ImageAssessmentActivity"></activity>
        </config-file>
        <source-file src="src/android/MediaCapturePlus.java" target-dir="src/cordova/plugin/mediacaptureplus/MediaCapturePlus" />
        <source-file src="src/android/VideoCaptureOptions.java" target-dir="src/cordova/plugin/mediacaptureplus/MediaCapturePlus" />
        <source-file src="src/android/ImageCaptureOptions.java" target-dir="src/cordova/plugin/mediacaptureplus/MediaCapturePlus" />
        <source-file src="src/android/AudioCaptureOptions.java" target-dir="src/cordova/plugin/mediacaptureplus/MediaCapturePlus" />
        <source-file src="src/android/ImageAssessmentActivity.java" target-dir="src/cordova/plugin/mediacaptureplus/MediaCapturePlus" />
        <source-file src="src/android/QuestionRecyclerViewAdapter.java" target-dir="src/cordova/plugin/mediacaptureplus/MediaCapturePlus" />
        <source-file src="src/android/image_assessment_layout.xml" target-dir="res/layout" />
        <source-file src="src/android/recview_question.xml" target-dir="res/layout" />
        <source-file src="src/android/radio_answer_custom.xml" target-dir="res/drawable" />
        <source-file src="src/android/radio_answer_text.xml" target-dir="res/drawable" />
    </platform>


</plugin>